<!DOCTYPE html>

<html lang="pl">
    <head>
        <title>
            OMG
        </title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <style>
            p {
                font-size: 12px;
            }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body style="background-color:#CCFFFF">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <nav><ul><li><a href="/">Strona Główna</a></li><li><a href="/kombajn">Kalkulator Mobile</a></li></li><li><a href="/kombajnPC">Kalkulator PC</a></li></ul></nav>
        <script src="{{url_for('static', filename='scripts.js')}}"></script>
        <script src="{{url_for('static', filename='bignumber.js')}}"></script> <!-- source:https://github.com/MikeMcl/bignumber.js -->
        <section>
        {% block body %}
        {% endblock %}
        </section>
    </body>
</html>
